{block title}{_'main.user.changePassword'}{/block}
{block content}
    {panel}
        {view, class => form}
            {snippet passwordForm}
                {control passwordForm}
            {/snippet}
        {/view}
    {/panel}