namespace: 'Crm'
url: '/crm/'
sender: null
front: null

fileManagerDir: %appDir%/../
infoRefresh: 15 # vteriny

minPasswordLength: 8
passwordChars: '0-9a-zA-Z'

loginExpiration: '20 minutes'
sessionExpiration: '14 days'

layout: null

wwwDir: %wwwDir%

jsFilters:
    - Joseki\Webloader\JsMinFilter
cssFilters:
    - WebLoader\Filter\LessFilter
    - Joseki\Webloader\CssMinFilter
assets:
menu: 

permissions:
    settings:
        users:
            link: 'Users:'
        permissions:
            link: 'Permissions:'
        configuration:
            link: 'Configuration:'
    application:
        fileManager:
            link: 'FileManager:'
    management:
        application:
            restoreCss:
                ajax: true
            restoreJs:
                ajax: true
            clearCache:
                ajax: true
            invalidateCache:
                ajax: true
            clearSessions:
                confirm: 'main.dockbar.management.application.confirmDeleteSessions'
                ajax: true
            clearTemp:
                confirm: 'main.dockbar.management.application.confirmDeleteTemp'
        source:
            deploy:
                confirm: 'main.dockbar.management.source.confirmDeploy'
                ajax: true
            composerUpdate:
                confirm: 'main.dockbar.management.source.confirmComposerUpdate'
                ajax: true
        database:
            backupDatabase:
                confirm: 'main.dockbar.management.database.confirmBackupDatabase'
            uploadDatabase:
                advanced: true
                link: 'Database:upload'
            dropDatabase:
                confirm: 'main.dockbar.management.database.confirmDropDatabase'
                advanced: true
                ajax: true

    info:
        logs:
            link: 'Logs:'
        server:
            link: 'Info:server'
        php:
            link: 'Info:php'
