{extends '@layout.latte'}
{block #body}
<p>{_'mailing.newPassword.message', ['link' => $link]|noescape}</p>
<p>{_'crm.user.username'}: <strong>{$username}</strong><br/>
    {_'crm.user.password'}: <strong>{$password}</strong></p>