{extends '@layout.latte'}
{block #body}
<p>{_'cms.mailing.newPassword.message', ['link' => $link]|noescape}</p>
<p>{_'cms.user.username'}: <strong>{$username}</strong><br/>
    {_'cms.user.password'}: <strong>{$password}</strong></p>