{snippet dockBar}
    <div id="dockbar">
        <div class="dockbar-content">
            <ul class="button">
                <li n:class="$shifted ? active">
                    <div></div>
                </li>
            </ul>
            <ul class="dockbar-menu">
                <li class="frontPage">
                    <a href="{plink $front}"><span>{_'crm.dockbar.frontPage'}</span></a>
                </li>
                {include item, rows => $links}
            </ul>
            <ul class="identity">
                <li>
                    <div><span>{$userName}</span></div>
                    <ul class="menu">
                        <li class="myProfile"><a href="{$profileLink}">{_'crm.dockbar.myProfile'}</a></li>
                        <li n:if="$tryUserEnable" class="closeTryUser"><a n:href="closeTryUser">{_'crm.dockbar.closeTryUser'}</a></li>
                        <li class="logout"><a n:href="logout">{_'crm.dockbar.logout'}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{/snippet}

{define item}

    {default $final = false}

    <li n:class="$name" n:if="is_array($row)" n:foreach="$rows as $name => $row">
        {if isset($row[link]) || isset($row[handler])}
            <a
                    n:class="$name, isset($row[ajax]) ? ajax"
                    {ifset $row[ajax]}data-ajax-off="history"{/ifset}
                    {ifset $row[link]}href="{plink $row[link]}"{/ifset}
                    {ifset $row[handler]}href="{link $row[handler]}"{/ifset}
                    {ifset $row[confirm]}data-confirm="{_$row[confirm]}"{/ifset}
            >{_$row[name]}</a>
        {else}
            <div><span>{_$row[name]}</span></div>
            <ul>
                {include item, rows => $row}
            </ul>
        {/if}
    </li>
{/define}