{block title}{_'main.dockbar.settings.configuration'}{/block}
{block content}
{panel}
    {view, class => form}
        {snippet configuration}
            {control configurationForm}
        {/snippet}
    {/view}
{/panel}