{block title}{_'dockbar.settings.configuration'}{/block}
{block content}
{panel}
    {view, class => half}
        {snippet configuration}
            {control configurationForm}
        {/snippet}
    {/view}
{/panel}