{extends '../@layout.latte'}

{block body}
<div id="crm-container">
    <div id="crm-content" class="sign">
        {control flashMessages}
        <div>
            {include content}
            {block footer}{/block}
        </div>
    </div>
</div>