{block title}{_'cms.user.signIn'}{/block}
{block content}
{panel}
    {control signInForm}
    <a class="forgotten-password" n:href="forgottenPassword, 'backlink' => null">{_'cms.user.forgottenPassword'}</a>
{/panel}
