{block title}{_'main.user.signIn'}{/block}
{block content}
    {panel}
        {control signInForm}
        <a class="forgotten-password" n:href="forgottenPassword, 'backlink' => NULL">{_'main.user.forgottenPassword'}</a>
    {/panel}
