<!DOCTYPE html>
<html lang="{$locale}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta name="viewport"
          content="{ifset viewport}{include viewport|striptags|strip}{else}width=device-width,initial-scale=1{/ifset}">

    <title>{ifset title}{include title|striptags|strip} | {/ifset} {_'cms.title'} | {$baseTitle}</title>

    <meta name="robots" content="noindex,nofollow"/>
    <meta name="author" content=""/>

    {control loadJs}
    {control loadCss}

    {block head}{/block}
</head>
<body class="preload">
{block body}
    {control dockbar}
    <div id="cms-container" n:class="$shifted ? shifted">
        <div id="cms-menu-container">
            <a n:if="$cmsLogo" n:href=":Cms:Homepage:">
                <img n:img="$cmsLogo, '150x150', 'fit'">
            </a>
            {control menu}
        </div>
        <div id="cms-content">
            {control flashMessages}
            {control breadcrumb, id => breadcrumb}
            {include content}
            <div id="copyright">
                {block copyright}{/block}
            </div>
        </div>
    </div>
    {block components}{/block}
{/block}
</body>
</html>