{block title}{_'dockbar.myProfile'}{/block}
{block content}
{panel}
    {view, class => form}
        {snippet userForm}
            {control userForm}
        {/snippet}
        {snippet passwordForm}
            {control passwordForm}
        {/snippet}
    {/view}
{/panel}