title: "CMS"

KCFinder: "KCFinder"

user:
    username: "Username"
    password: "Password"
    oldPassword: "Old password"
    newPassword: "New password"
    passwordVerify: "Confirm password"
    firstName: "First name"
    surname: "Surname"
    email: "E-mail"
    phone: "Phone"
    language: "Language"
    state: "State"

    signin: "Login"
    signIn: "Sign in"
    staySignedIn: "remember me"
    forgottenPassword: "Forgot your password?"
    usernameOrEmail: "Username or E-mail"

    add: "Add new user"
    edit: "Edit"
    tryUser: "Try user"
    changePassword: "Change password"
    restorePassword: "Restore password"
    generatePassword: "Generate password"

    registerAdministrator: "Register Administrator"

    dupliciteUsername: "Username is used."
    dupliciteEmail: "E-mail is used."
    incorrectPassword: "Wrong password."
    incorrectUsernameOrPassword: "Wrong username or password."
    incorrectUsernameOrEmail: "Wrong username or E-mail."
    invalideUsername: "Username contains invalid characters"
    invalideEmail: "Email is not valid"
    invalidePhone: "Phone is not valid"

    dataSaved: "User data saved"
    passwordChanged: "Password changed"
    youAreLoggedOut: "You are logout."
    inactivityLogout: "Your account has been logged out due to inactivity. Please sign in again."
    mailToRestorePasswordSent: "Message fro password restore has been sent to your e-mail."
    restorePasswordDisabledForHour: "Restore password is disabled for one hour."

homepage:
    title: "Homepage"
    info: "Information"
    server:
        title: "Server"
        ip: "IP"
        load: "Load"
    front:
        title: "Web"
        onlineUsers: "Online users"

permissions:
    role: "Role"
    roles: "Roles"
    name: "Name"
    parent: "Parent"
    resource: "Resource"
    privilege: "Privilege"
    allowed: "Allowed"
    denied: "Denied"

    addRole: "Add role"
    addPermission: "Add permission"
    confirmDeletePermission: "Do you really want to delete permission '%name%'?"
    confirmDeleteRole: "Do you really want to delete role '%name%'?"

    deleteUnusedResources: "Delete unused resources"
    unusedResourcesDeleted: "Unused resources deleted."
    clearCacheAcl: "Delete cache ACL"
    aclCacheCleared: "Cache ACL deleted."
    accessDenied: "You do not have rights for this event."
    roleUsed: "Role already exists in the database."
    dupliciteName: "Name already exists in the database."
    invalidName: "Name contains invalid characters"

settings:
    basic: "Basic settings"
    sendNewUserPassword: "Send password new users."
    sendChangePassword: "Send e-mail when you change your password."
    dockbarAdvanced: "Enable advanced options in Dockbar (Drop database, etc)."
    settingsSaved: "Settings saved."
    logo: "Logo"
    deleteLogo: "Delete logo"
    defaultLocale: "Default language"
    allowedLocales: "Allowed language"

    development: "Development (only Tracy)"
    mailPanel: "Only view mails, don't send"
    debugOn: "On"
    debugOff: "Off"

database:
    file: 'File'
    uploaded: 'Uploaded'
    error: 'Upload failure'

logs:
    log: "Log"
    size: "Size"
    lastChange: "Last change"
    download: "Download"
    show: "Show"
    confirmDelete: "Do you really want to delete log '%name%'?|Do you really want to delete logs?"
    clearLogs: "Clear logs"

info:
    basic:
        info: "Basic information"
        hostname: "Canonical host name"
        listenIp: "Listen IP"
        distribution: "Distribution"
        kernel: "Kernel"
        uptime: "Uptime"
        users: "Login users"
        load: "Load"
        processes: "Processes"
        running: "running"
        sleeping: "sleeping"
    network:
        info: "Net information"
        device: "device"
        ip: "IP"
        ip6: "IPv6"
        mac: "MAC"
        recieve: "Recieve"
        sent: "Sent"
        error: "Error"
        drop: "Drop"
    hardware:
        info: "Hardware information"
        server: "Server"
        cpu: "Cpu|[2,Inf]Cpu's"
        cpuSpeed: "Speed"
        cpuLoad: "Load"
        cache: "Cache"
        scsi: "SCSI device"
    memory:
        info: "Ram information"
        usage: "Usage"
        free: "Free"
        used: "Used"
        size: "Size"
        total: "Total"
        apps: "Kernel+Application"
        cache: "Cache"
        buffers: "Buffers"
    fileSystem:
        info: "Mounted File systems"
        mountPoint: "Mount point"
        type: "Type"
        partition: "Partition"
        usage: "Usage"
        free: "Free"
        used: "Used"
        size: "Size"

mailing:
    restorePassword:
        subject: "Restore Password"
        message: "Your password will be changed after clicking on the following link."

    newUser:
        subject: "New User"
        message: "Your accout has been created. You can sign in <a href=\"%link%\">HERE</a>."

    newPassword:
        subject: "New Password"
        message: "Your passworn has been changed. For sign in <a href=\"%link%\">HERE</a> use these data."
