title: "CRM"

roles:
    guest: "Host"
    user: "Uživatel"
    editor: "Editor"
    admin: "Administrátor"
    superadmin: "Administrátor portálu"

user:
    username: "Uživatelské jméno"
    password: "Heslo"
    oldPassword: "Staré heslo"
    newPassword: "Nové heslo"
    passwordVerify: "Heslo pro kontrolu"
    firstName: "Jméno"
    surname: "Příjmení"
    email: "E-mail"
    state: "Stav"

    login: "Přihlásit"
    signIn: "Přihlášení"
    stayLogin: "zůstat přihlášen"
    forgottenPassword: "Zapomněli jste heslo?"
    usernameOrEmail: "Uživatelské jméno nebo E-mail"

    add: "Přidat nového uživatele"
    tryUser: "Vyzkoušet uživatele"
    changePassword: "Změnit heslo"
    restorePassword: "Obnovení hesla"
    generatePassword: "Generovat heslo"

    registerAdministrator: "Registrace administrátora"

    dupliciteUsername: "Uživatelské jméno je již použito."
    dupliciteEmail: "E-mailová adresa je již použita."
    incorrectPassword: "Nesprávné heslo."
    incorrectUsernameOrPassword: "Nesprávné uživatelské jméno nebo heslo."
    incorrectUsernameOrEmail: "Nesprávné uživatelské jméno nebo e-mail."

    dataSaved: "Uživatelská data uložena"
    passwordChanged: "Heslo změněno"
    youAreLoggedOut: "Byl jste odhlášen."
    inactivityLogout: "Váš účet byl odhlášen z důvodu neaktivity. Prosím, přihlašte se znova."
    mailToRestorePasswordSent: "Na Váš E-mail byla zaslána zprava pro obnovení hesla."
    restorePasswordDisabledForHour: "Obnovení hesla je na hodinu blokováno"

homepage:
    title: "Domovská stránka"
    server:
        title: "Server"
        ip: "IP"
        load: "Vytížení"
    front:
        title: "Web"
        onlineUsers: "Online uživatelé"

permissions:
    role: "Role"
    roles: "Role"
    name: "Jméno"
    parent: "Rodič"
    resource: "Zdroj"
    privilege: "Operace"
    allowed: "Povoleno"
    denied: "Zakázano"

    addRole: "Přidat roli"
    addPermission: "Přidat oprávnění"
    confirmDeletePermission: "Opravdu chcete smazat oprávnění '%name%'?"
    confirmDeleteRole: "Opravdu chcete smazat roli '%name%'?"

    deleteUnusedResources: "Smazat nepoužité zdroje"
    unusedResourcesDeleted: "Nepoužité zdroje smazány."
    clearCacheAcl: "Smazat cache ACL"
    aclCacheCleared: "Cache ACL smazána."
    accessDenied: "Nemáte práva pro tuto akci."
    roleUsed: "Role již v databázi existuje."
    dupliciteName: "Jméno je již použito"
    invalidName: "Jméno obsahuje nepovolené znaky"

settings:
    basic: "Základní nastavní"
    sendNewUserPassword: "Poslat heslo novým uživatelům."
    sendChangePassword: "Poslat email při změně hesla."
    dockbarAdvanced: "Povolit rozšířené možnosti Dockbaru (Mazaní databáze, atd)."
    settingsSaved: "Nastavení uložena."
    logo: "Logo"
    deleteLogo: "Smazat logo"
    defaultLocale: "Defaultní jazyk"
    allowedLocales: "Povolene jazyky"

    development: "Vývoj (pouze pokud je zapnuta Tracy)"
    mailPanel: "Logovat a neodesílat maily"
    debugOn: "Zapnout"
    debugOff: "Vypnout"

database:
    file: 'Soubor'
    uploaded: 'Nahráno'
    error: 'Chyba při nahrávání'

logs:
    log: "Záznam"
    size: "Velikost"
    lastChange: "Poslední změna"
    download: "Stažení souboru"
    show: "Zobrazit"
    confirmDelete: "Opravdu chcete smazat log '%name%'?"
    clearLogs: "Smazat logy"

info:
    basic:
        info: "Základní informace"
        hostname: "Kanonické jméno hostitele"
        listenIp: "Poslouchající IP"
        distribution: "Název distribuce"
        kernel: "Verze jádra"
        uptime: "Čas od spuštění"
        users: "Přihlášení uživatelé"
        load: "Průměrné zatížení"
        processes: "Procesy"
        running: "běžící"
        sleeping: "spící"
    network:
        info: "Využití sítě"
        device: "Zařízení"
        ip: "IP"
        ip6: "IPv6"
        mac: "MAC"
        recieve: "Přijaté"
        sent: "Odeslané"
        error: "Chyby"
        drop: "Zahozené"
    hardware:
        info: "Informace o hardware"
        server: "Server"
        cpu: "Procesor|[2,Inf]Procesory"
        cpuSpeed: "Rychlost"
        cpuLoad: "Vytížení"
        cache: "Cache"
        scsi: "SCSI zařízení"
    memory:
        info: "Informace o paměti"
        usage: "Využití"
        free: "Volné"
        used: "Použíté"
        size: "Velikost"
        total: "Celkem"
        apps: "Kernel+Applikace"
        cache: "Cache"
        buffers: "Buffery"
    fileSystem:
        info: "Připojené souborové systémy"
        mountPoint: "Přípojný bod"
        type: "Typ"
        partition: "Oddíl"
        usage: "Využití"
        free: "Volné"
        used: "Použité"
        size: "Velikost"