dataSaved: "Data saved"
dataDeleted: "Data deleted"

active: "Active"
deactive: "Deactive"
activate: "Activate"
deactivate: "Deactivate"

add: "Add"
view: "View"
edit: "Edit"
delete: "Delete"
confirmDelete: "Do you really want to delete '%name%'?"

id: "ID"
name: "Name"
state: "State"
url: "URL"
typeaheadEmpty: "Requested item doesn't exists"

yes: "Yes"
no: "No"

time:
    years: "{0}|{1}%count% year|[2,Inf[%count% years"
    months: "{0}|{1}%count% month|[2,Inf[%count% months"
    weeks: "{0}|{1}%count% week|[2,Inf[%count% weeks"
    days: "{0}|{1}%count% day|[2,Inf[%count% days"
    hours: "{0}|{1}%count% hour|[2,Inf[%count% hours"
    minutes: "{0}|{1}%count% minute|[2,Inf[%count% minutes"
    seconds: "{0}|{1}%count% second|[2,Inf[%count% seconds"
    inDays: "{0}Today|{1}Tomorrow|[2,Inf[In %count% days"