dataSaved: "Data uložena"
dataDeleted: "Data smazána"

active: "Aktivní"
deactive: "Neaktivní"
activate: "Aktivovat"
deactivate: "Deaktivovat"

add: "Přidat"
view: "Zobrazit"
edit: "Editovat"
delete: "Smazat"
confirmDelete: "Opravdu chcete smazat '%name%'?"

id: "ID"
name: "Název"
state: "Stav"
url: "URL"
typeaheadEmpty: "Požadovaná položka neexistuje"

time:
    years: "{0}|{1}%count% rok|[2,4]%count% roky|[5,Inf[%count% let"
    months: "{0}|{1}%count% měsíc|[2,4]%count% měsíce|[5,Inf[%count% měsíců"
    weeks: "{0}|{1}%count% týden|[2,4]%count% týdny|[5,Inf[%count% týdnů"
    days: "{0}|{1}%count% den|[2,4]%count% dny|[5,Inf[%count% dní"
    hours: "{0}|{1}%count% hodina|[2,4]%count% hodiny|[5,Inf[%count% hodin"
    minutes: "{0}|{1}%count% minuta|[2,4]%count% minuty|[5,Inf[%count% minut"
    seconds: "{0}|{1}%count% vteřina|[2,4]%count% vteřiny|[5,Inf[%count% vteřin"
    inDays: "{0}Dnes|{1}Zítra|[2,4]Za %count% dny|[5,Inf[Za %count% dní"