title: "Dockbar"
frontPage: "Webová stránka"
settings:
    title: "Nastavení"
    users: "Uživatelé"
    users.tryUser: "Změna identity"
    permissions: "Práva"
    permissions.permissionsList: "Seznam práv"
    permissions.superadmin: "Editace Superadmina"
    configuration: "Nastavení"
application:
    title: "Aplikace"
    fileManager: "Správce souborů"
management:
    title: "Správa"
    application:
        title: "Aplikace"
        restoreCss: "Obnovit CSS"
        cssRestored: "CSS obnoveno"
        restoreJs: "Obnovit JS"
        jsRestored: "Javascript obnoven"
        invalidateCache: "Zneplatnění cache"
        clearSessions: "Smazat sessions"
        cacheCleared: "Cache smazána."
        sessionsCleared: "Sessions smazána."
        cacheInvalidated: "Cache zneplatněna."
        tempCleared: "Složka temp smazána."
        clearCache: "Smazat cache"
        clearTemp: "Smazat temp"
        confirmDeleteTemp: "Opravdu chcete smazat temp?"
        confirmDeleteSessions: "Opravdu chcete smazat Sessions?"
    source:
        title: "Zdrojový kód"
        deploy: "Deploy"
        deployed: "Deploy úspěšně proveden"
        deployNotSet: "Není nastaven Gitlab"
        composerUpdate: "Aktualizovat knihovny"
        composerUpdated: "Knihovny aktualizovány"
        confirmComposerUpdate: "Opravdu chcete aktualizovat knihovny pomocí composeru?"
        confirmDeploy: "Opravdu chcete provést deploy?"
    database:
        title: "Databáze"
        backupDatabase: "Záloha DB"
        confirmBackupDatabase: "Opravdu chcete provést zálohu databáze?"
        uploadDatabase: "Obnovení databáze"
        dropDatabase: "Smazání databáze"
        confirmDropDatabase: "Opravdu chcete smazat databázi?"
        databaseDroped: "Databáze byla smazána"
    backup: "Záloha"
    confirmBackup: "Opravdu chcete provést zálohu?"
info:
    title: "Informace"
    logs: "Logy"
    php: "PHP"
    server: "Server"
myProfile: "Můj profil"
closeTryUser: "Vrátit k vlastní identitě"
logout: "Odhlásit"