protection: "Das Timeout ist abgelaufen, senden Sie das Formular erneut."
equal: "'%label' stimmt nicht überein."
notEqual: "'%label' darf nicht %s sein."
filled: "'%label' ist obligatorisch."
blank: "'%label' muss leer sein."
minLength: "'%label' muss mindestens %d Zeichen enthalten."
maxLength: "'%label' muss maximal %d Zeichen haben."
length: "Fügen Sie einen Wert ein, der %d bis %d Zeichen lang ist."
email: "Die E-Mail-Adresse '%value' ist ungültig."
url: "Die URL ist ungültig."
integer: "'%label' muss eine ganze Zahl sein."
float: "'%label' muss eine Zahl sein."
min: "'%label' muss größer oder gleich %d sein."
max: "'%label' muss kleiner oder gleich %d sein."
range: "'%label' muss im Bereich zwischen %d und %d liegen."
max_file_size: "Die maximale Dateigröße ist %d B."
max_post_size: "Die maximale Größe der hochgeladenen Daten ist %d B."
mime_type: "Das Format der hochgeladenen Datei ist ungültig."
image: "Die Datei muss des Typs JPEG, PNG oder GIF sein."
option: "Wählen Sie eine gültige Option."
fileUpload: "Beim Hochladen der Datei ist ein Fehler aufgetreten."
phone: "Die Telefonnummer '%value' ist ungültig."
imageAndSvg: "Die Datei muss JPEG, PNG, GIF oder SVG sein."

send: "Senden"
save: "Speichern"
reset: "Löschen"
delete: "Löschen"

none: ""

back: "Zurück"