protection: "Vypršal časový limit, odošlite formulár znova."
equal: "'%label' sa nezhoduje."
notEqual: "'%label' nesmie byť %s."
filled: "'%label' je povinné."
blank: "'%label' musí byť prázdne."
minLength: "'%label' musí mať aspoň %d znak.|'%label' musí mať aspoň %d znaky.|'%label' musí mať aspoň %d znakov."
maxLength: "'%label' musí mať najviac %d znak.|'%label' musí mať najviac %d znaky.|'%label' musí mať najviac %d znakov."
length: "Vložte hodnotu veľkosti od %d do %d znakov."
email: "Emailová adresa '%value' nieje platná."
url: "URL nieje platná."
integer: "'%label' musí byť celé číslo."
float: "'%label' musí byť číslo."
min: "'%label' musí byť väčší alebo rovnaký %d."
max: "'%label' musí byť menší alebo rovnaký %d."
range: "'%label' musí byť v rozmedzí %d a %d."
max_file_size: "Maximálna veľkosť súboru je %d B."
max_post_size: "Maximálna veľkosť uploadovaných dát je %d B."
mime_type: "Nahraný súbor nieje v platnom formáte."
image: "Súbor musí byť JPEG, PNG alebo GIF."
option: "Vyberte platnú možnosť."
fileUpload: "Pri nahrávaní súboru nastala chyba."
phone: "Telefónne číslo '%value' nieje platné."
imageAndSvg: "Súbor musí byť JPEG, PNG, GIF nebo SVG."

send: "Odoslať"
save: "Uložit"
reset: "Zmazať"
delete: "Zmazať"

none: ""

back: "Späť"