protection: "Czas minął, proszę wysłać formularz ponownie."
equal: "'%label' się nie zgadza."
notEqual: "'%label' nie może być %s."
filled: "'%label' jest obowiązkowe."
blank: "'%label' musi być puste."
minLength: "'%label' mus zawierać przynajmniej %d znak.|'%label' musi mieć przynajmniej %d znaki.|'%label' musi mieć przynajmniej %d znaków."
maxLength: "'%label' musi mieć najwięcej %d znak.|'%label' musi mieć najwięcej %d znaki.|'%label' musi mieć najwięcej %d znaków."
length: "Włóż wartość o wielkości %d do %d znaków."
email: "Adres e-mail '%value' nie jest ważny."
url: "URL nie jest ważny."
integer: "'%label' musi być cała liczba."
float: "'%label' musi być numer."
min: "'%label' musi być większe lub równe %d."
max: "'%label' musi być mniejsze lub równe %d."
range: "'%label' musi być w ramach %d a %d."
max_file_size: "Maksymalny rozmiar pliku jest %d B."
max_post_size: "Maksymalna wielkość wgrywanych danych jest %d B."
mime_type: "Wgrywany plik nie jest w odpowiednim formacie."
image: "Plik musi być w formacie JPEG, PNG lub GIF."
option: "Wybierz z możliwości tę, która jest prawdziwa:"
fileUpload: "Błąd podczas wgrywania pliku."
phone: "'%value':nieważny numer telefonu."
imageAndSvg: "Plik musi być JPEG, PNG, GIF lub SVG."

send: "Wyślij"
save: "Zapisz"
reset: "Resetuj"
delete: "Usuń"

none: ""

back: "Wstecz"