protection: "Vypršel časový limit, odešlete formulář znovu."
equal: "'%label' se neshoduje."
notEqual: "'%label' nesmí být %s."
filled: "'%label' je povinné."
blank: "'%label' musí být prázdné."
minLength: "'%label' musí mít alespoň %d znak.|'%label' musí mít alespoň %d znaky.|'%label' musí mít alespoň %d znaků."
maxLength: "'%label' musí mít nejvíce %d znak.|'%label' musí mít nejvíce %d znaky.|'%label' musí mít nejvíce %d znaků."
length: "Vložte hodnotu o velikost od %d do %d znaků."
email: "Emailová adresa '%value' není platná."
url: "URL není platná."
integer: "'%label' musí být celé číslo."
float: "'%label' musí být číslo."
min: "'%label' musí být větší nebo rovno %d."
max: "'%label' musí být menší nebo rovno %d."
range: "'%label' musí být v rozmezí %d a %d."
max_file_size: "Maximální velikost souboru je %d B."
max_post_size: "Maximální velikost uploadovaných dat je %d B."
mime_type: "Nahraný souboru není v platném formátu."
image: "Soubor musí být JPEG, PNG nebo GIF."
option: "Vyberte platnou možnost."
fileUpload: "Při nahrávání souboru nastala chyba."
phone: "Telefonní číslo '%value' není platné."

send: "Odeslat"
save: "Uložit"

none: ""

back: "Zpět"