restorePassword:
    subject: "Obnovení hesla"
    message: "Vaše heslo bude změněno po kliku na nasledující odkaz."

newUser:
    subject: "Nový uživatel"
    message: "Byl Vám založen účet. Můžete se přihlásit <a href=\"%link%\">ZDE</a>."

newPassword:
    subject: "Nové heslo"
    message: "Bylo Vám změněno heslo. Pro přihlášení <a href=\"%link%\">ZDE</a> použijte následující údaje."