title: "CRM"
user:
    username: "Uživatelské jméno"
    password: "Heslo"
    oldPassword: "Staré heslo"
    newPassword: "Nové heslo"
    passwordVerify: "Heslo pro kontrolu"
    firstName: "Jméno"
    surname: "Příjmení"
    email: "E-mail"
    state: "Stav"

    login: "Přihlásit"
    signIn: "Přihlášení"
    stayLogin: "zůstat přihlášen"
    forgottenPassword: "Zapomněli jste heslo?"
    usernameOrEmail: "Uživatelské jméno nebo E-mail"

    add: "Přidat nového uživatele"
    tryUser: "Vyzkoušet uživatele"
    changePassword: "Změnit heslo"
    restorePassword: "Obnovení hesla"
    generatePassword: "Generovat heslo"

    registerAdministrator: "Registrace administrátora"

    dupliciteUsername: "Uživatelské jméno je již použito."
    dupliciteEmail: "E-mailová adresa je již použita."
    incorrectPassword: "Nesprávné heslo."
    incorrectUsernameOrPassword: "Nesprávné uživatelské jméno nebo heslo."
    incorrectUsernameOrEmail: "Nesprávné uživatelské jméno nebo e-mail."

    dataSaved: "Uživatelská data uložena"
    passwordChanged: "Heslo změněno"
    youAreLoggedOut: "Byl jste odhlášen."
    inactivityLogout: "Váš účet byl odhlášen z důvodu neaktivity. Prosím, přihlašte se znova."
    mailToRestorePasswordSent: "Na Váš E-mail byla zaslána zprava pro obnovení hesla."
    restorePasswordDisabledForHour: "Obnovení hesla je na hodinu blokováno"

dockbar:
    frontPage: "Webová stránka"
    settings: 
        title: "Nastavení"
        users: "Uživatelé"
        permissions: "Práva"
        configuration: "Nastavení"
    application: 
        title: "Aplikace"
        fileManager: "Správce souborů"
    management: 
        title: "Správa"
        application: 
            title: "Aplikace"
            restoreCss: "Obnovit CSS"
            cssRestored: "CSS obnoveno"
            restoreJs: "Obnovit JS"
            jsRestored: "Javascript obnoven"
            invalidateCache: "Zneplatnění cache"
            clearSessions: "Smazat sessions"
            cacheCleared: "Cache smazána."
            sessionsCleared: "Sessions smazána."
            cacheInvalidated: "Cache zneplatněna."
            tempCleared: "Složka temp smazána."
            clearCache: "Smazat cache"
            clearTemp: "Smazat temp"
            confirmDeleteTemp: "Opravdu chcete smazat temp?"
            confirmDeleteSessions: "Opravdu chcete smazat Sessions?"
        source:
            title: "Zdrojový kód"
            deploy: "Deploy"
            deployed: "Deploy úspěšně proveden"
            deployNotSet: "Není nastaven Gitlab"
            composerUpdate: "Aktualizovat knihovny"
            composerUpdated: "Knihovny aktualizovány"
            confirmComposerUpdate: "Opravdu chcete aktualizovat knihovny pomocí composeru?"
            confirmDeploy: "Opravdu chcete provést deploy?"
        database:
            title: "Databáze"
            backupDatabase: "Záloha"
            confirmBackupDatabase: "Opravdu chcete provést zálohu databáze?"
            uploadDatabase: "Obnovení databáze"
            dropDatabase: "Smazání databáze"
            confirmDropDatabase: "Opravdu chcete smazat databázi?"
            databaseDroped: "Databáze byla smazána"
    info:
        title: "Informace"
        logs: "Logy"
        php: "PHP"
        server: "Server"
    myProfile: "Můj profil"
    logout: "Odhlásit"

homepage:
    title: "Domovská stránka"
    server:
        title: "Server"
        ip: "IP"
        load: "Vytížení"
    front:
        title: "Web"
        onlineUsers: "Online uživatelé"

permissions:
    role: "Role"
    roles: "Role"
    name: "Jméno"
    parent: "Rodič"
    resource: "Zdroj"
    privilege: "Operace"
    allowed: "Povoleno"
    denied: "Zakázano"

    addRole: "Přidat roli"
    addRule: "Přidat pravidlo"
    confirmDeleteRule: "Opravdu chcete smazat pravidlo '%name%'?"
    confirmDeleteRole: "Opravdu chcete smazat roli '%name%'?"

    deleteUnusedResources: "Smazat nepoužité zdroje"
    unusedResourcesDeleted: "Nepoužité zdroje smazány."
    clearCacheAcl: "Smazat cache ACL"
    AclCacheCLeared: "Cache ACL smazána."
    accessDenied: "Nemáte práva pro tuto akci."
    roleUsed: "Role již v databázi existuje."
    dupliciteName: "Jméno je již použito"
    invalidName: "Jméno obsahuje nepovolené znaky"

settings:
    basic: "Základní nastavní"
    sendNewUserPassword: "Poslat heslo novým uživatelům."
    sendChangePassword: "Poslat email při změně hesla."
    dockbarAdvanced: "Povolit rozšířené možnosti Dockbaru (Mazaní databáze, atd)."
    settingsSaved: "Nastavení uložena."
    logo: "Logo"
    deleteLogo: "Smazat logo"
    defaultLang: "Defaultní jazyk"
    allowedLang: "Povolene jazyky"

    development: "Vývoj (pouze pokud je zapnuta Tracy)"
    mailPanel: "Logovat a neodesílat maily"
    debugOn: "Zapnout"
    debugOff: "Vypnout"

database:
    file: 'Soubor'
    uploaded: 'Nahráno'
    error: 'Chyba při nahrávání'

logs:
    log: "Záznam"
    size: "Velikost"
    lastChange: "Poslední změna"
    download: "Stažení souboru"
    show: "Zobrazit"
    confirmDelete: "Opravdu chcete smazat log '%name%'?"
    clearLogs: "Smazat logy"

info:
    basic:
        info: "Základní informace"
        hostname: "Kanonické jméno hostitele"
        listenIp: "Poslouchající IP"
        distribution: "Název distribuce"
        kernel: "Verze jádra"
        uptime: "Čas od spuštění"
        users: "Přihlášení uživatelé"
        load: "Průměrné zatížení"
        processes: "Procesy"
        running: "běžící"
        sleeping: "spící"
    network:
        info: "Využití sítě"
        device: "Zařízení"
        ip: "IP"
        ip6: "IPv6"
        mac: "MAC"
        recieve: "Přijaté"
        sent: "Odeslané"
        error: "Chyby"
        drop: "Zahozené"
    hardware:
        info: "Informace o hardware"
        server: "Server"
        cpu: "Procesor|[2,Inf]Procesory"
        cpuSpeed: "Rychlost"
        cpuLoad: "Vytížení"
        cache: "Cache"
        scsi: "SCSI zařízení"
    memory:
        info: "Informace o paměti"
        usage: "Využití"
        free: "Volné"
        used: "Použíté"
        size: "Velikost"
        total: "Celkem"
        apps: "Kernel+Applikace"
        cache: "Cache"
        buffers: "Buffery"
    fileSystem:
        info: "Připojené souborové systémy"
        mountPoint: "Přípojný bod"
        type: "Typ"
        partition: "Oddíl"
        usage: "Využití"
        free: "Volné"
        used: "Použité"
        size: "Velikost"