title: "CRM"
user:
    username: "Username"
    password: "Password"
    oldPassword: "Old password"
    newPassword: "New password"
    passwordVerify: "Confirm password"
    firstName: "First name"
    surname: "Surname"
    email: "E-mail"
    state: "State"

    login: "Login"
    signIn: "Sign in"
    stayLogin: "remember me"
    forgottenPassword: "Forgot your password?"
    usernameOrEmail: "Username or E-mail"

    active: "Active"
    deactive: "Deactive"
    activate: "Activate"
    deactivate: "Deactivate"
    delete: "Delete"
    confirmDelete: "Do you really want to delete '%name%'?"

    add: "Add new user"
    tryUser: "Try user"
    changePassword: "Change password"
    restorePassword: "Restore password"
    generatePassword: "Generate password"

    registerAdministrator: "Register Administrator"

    dupliciteUsername: "Username is used."
    dupliciteEmail: "E-mail is used."
    incorrectPassword: "Wrong password."
    incorrectUsernameOrPassword: "Wrong username or password."
    incorrectUsernameOrEmail: "Wrong username or E-mail."

    dataSaved: "User data saved"
    passwordChanged: "Password changed"
    youAreLoggedOut: "You are logout."
    inactivityLogout: "Your account has been logged out due to inactivity. Please sign in again."
    mailToRestorePasswordSent: "Message fro password restore has been sent to your e-mail."
    restorePasswordDisabledForHour: "Restore password is disabled for one hour."

dockbar:
    frontPage: "Web page"
    settings: 
        title: "Settings"
        users: "Users"
        permissions: "Permissions"
        configuration: "Configuration"
    application: 
        title: "Application"
        fileManager: "File Manager"
    management: 
        title: "Management"
        application: 
            title: "Application"
            restoreCss: "Restore CSS"
            cssRestored: "CSS restored"
            restoreJs: "Restore JS"
            jsRestored: "JS restored"
            invalidateCache: "Invalidate cache"
            clearSessions: "Clear sessions"
            cacheCleared: "Cache cleared."
            sessionsCleared: "Sessions cleared."
            cacheInvalidated: "Cache invalidated."
            tempCleared: "Temp cleared."
            clearCache: "Clear cache"
            clearTemp: "Clear temp"
            confirmDeleteTemp: "Do you really want to delete temp?"
            confirmDeleteSessions: "Do you really want to delete Sessions?"
        source:
            title: "Source"
            deploy: "Deploy"
            deployed: "Deploy success"
            deployNotSet: "Gitlab is not set"
            composerUpdate: "Update libraries"
            composerUpdated: "Libraries updated"
            confirmComposerUpdate: "Do you really want to update libraries with composer?"
            confirmDeploy: "Do you really want to deploy?"
        database:
            title: "Database"
            backupDatabase: "Backup"
            confirmBackupDatabase: "Do you really want to backup database?"
            uploadDatabase: "Upload database"    
            dropDatabase: "Drop database"
            confirmDropDatabase: "Do you really want to drop database?"
            databaseDroped: "Database droped"
    info:
        title: "Information"
        logs: "Logs"
        php: "PHP"
        server: "Server"
    myProfile: "My profile"
    logout: "Logout"

homepage:
    title: "Homepage"
    server:
        title: "Server"
        ip: "IP"
        load: "Load"
    front:
        title: "Web"
        onlineUsers: "Online users"

permissions:
    role: "Role"
    roles: "Roles"
    name: "Name"
    parent: "Parent"
    resource: "Resource"
    privilege: "Privilege"
    view: "View"
    edit: "Edit"
    state: "State"
    allowed: "Allowed"
    denied: "Denied"

    addRole: "Add role"
    addRule: "Add rule"
    delete: "Delete"
    confirmDeleteRule: "Do you really want to delete rule '%name%'?"
    confirmDeleteRole: "Do you really want to delete role '%name%'?"

    deleteUnusedResources: "Delete unused resources"
    unusedResourcesDeleted: "Unused resources deleted."
    clearCacheAcl: "Delete cache ACL"
    AclCacheCLeared: "Cache ACL deleted."
    accessDenied: "You do not have rights for this event."
    roleUsed: "Role already exists in the database."
    dataSaved: "Data saved"

settings:
    basic: "Basic settings"
    sendNewUserPassword: "Send password new users."
    sendChangePassword: "Send e-mail when you change your password."
    dockbarAdvanced: "Enable advanced options in Dockbar (Drop database, etc)."
    settingsSaved: "Settings saved."
    logo: "Logo"
    deleteLogo: "Delete logo"
    defaultLang: "Default language"
    allowedLang: "Allowed language"

    development: "Development (only Tracy)"
    mailPanel: "Only view mails, don't send"
    debugOn: "On"
    debugOff: "Off"

database:
    file: 'File'
    uploaded: 'Uploaded'
    error: 'Upload failure'

logs:
    log: "Log"
    size: "Size"
    lastChange: "Last change"
    download: "Download"
    show: "Show"
    delete: "Delete"
    confirmDelete: "Do you really want to delete log '%name%'?"
    clearLogs: "Clear logs"

info:
    basic:
        info: "Basic information"
        hostname: "Canonical host name"
        listenIp: "Listen IP"
        distribution: "Distribution"
        kernel: "Kernel"
        uptime: "Uptime"
        users: "Login users"
        load: "Load"
        processes: "Processes"
        running: "running"
        sleeping: "sleeping"
    network:
        info: "Net information"
        device: "device"
        ip: "IP"
        ip6: "IPv6"
        mac: "MAC"
        recieve: "Recieve"
        sent: "Sent"
        error: "Error"
        drop: "Drop"
    hardware:
        info: "Hardware information"
        server: "Server"
        cpu: "Cpu|[2,Inf]Cpu's"
        cpuSpeed: "Speed"
        cpuLoad: "Load"
        cache: "Cache"
        scsi: "SCSI device"
    memory:
        info: "Ram information"
        usage: "Usage"
        free: "Free"
        used: "Used"
        size: "Size"
        total: "Total"
        apps: "Kernel+Application"
        cache: "Cache"
        buffers: "Buffers"
    fileSystem:
        info: "Mounted File systems"
        mountPoint: "Mount point"
        type: "Type"
        partition: "Partition"
        usage: "Usage"
        free: "Free"
        used: "Used"
        size: "Size"

time:
    years: "{0}|{1}%count% year|[2,Inf[%count% years"
    months: "{0}|{1}%count% month|[2,Inf[%count% months"
    weeks: "{0}|{1}%count% week|[2,Inf[%count% weeks"
    days: "{0}|{1}%count% day|[2,Inf[%count% days"
    hours: "{0}|{1}%count% hour|[2,Inf[%count% hours"
    minutes: "{0}|{1}%count% minute|[2,Inf[%count% minutes"
    seconds: "{0}|{1}%count% second|[2,Inf[%count% seconds"
    inDays: "{0}Today|{1}Tomorrow|[2,Inf[In %count% days"