no_item_found_reset: 'Žádné položky nenalezeny. Filtr můžete vynulovat'
no_item_found: 'Žádné položky nenalezeny.'
here: 'zde'
items: 'Položky'
all: 'všechny'
from: 'z'
reset_filter: 'Resetovat filtr'
group_actions: 'Hromadné akce'
show: 'Zobrazit'
edit: 'Editovat'
show_all_columns: 'Zobrazit všechny sloupce'
show_default_columns: 'Zobrazit původní sloupce'
hide_column: 'Skrýt sloupec'
action: 'Akce'
previous: 'Předchozí'
next: 'Další'
choose: 'Vyberte'
choose_input_required: 'Group action text not allow empty value'
execute: 'Provést'
save: 'Uložit'
cancel: 'Zrušit'
multiselect_choose: 'Vyberte'
multiselect_selected: '{0} Vybráno'
filter_submit_button: 'Vyhledat'
per_page_submit: 'Změnit'
show_filter: 'Ukázat filtr'